@tailwind base;
@tailwind utilities;
@tailwind components;

@layer base {
	@font-face {
		font-family: "SpaceGroteskRegular";
		src: url("/Fonts/SpaceGroteskRegular.ttf");
	}

	@font-face {
		font-family: "SpaceGroteskLight";
		src: url("/Fonts/SpaceGroteskLight.ttf");
	}

	@font-face {
		font-family: "SpaceGroteskMedium";
		src: url("/Fonts/SpaceGroteskMedium.ttf");
	}

	@font-face {
		font-family: "SpaceGroteskBold";
		src: url("/Fonts/SpaceGroteskSemibold.ttf");
	}
}

html {
	background-color: theme("colors.base");
	scrollbar-width: thin;
	scroll-behavior: smooth;
}

::selection {
	color: black;
	background: theme("colors.primary");
}

@layer components {
	.heading {
		@apply font-SpaceMed md:text-7xl lg:text-8xl text-4xl text-header;
	}

	.subtext {
		@apply font-SpaceBase md:text-4xl text-2xl text-subtext;
	}

	.smallsubtext {
		@apply font-SpaceMed md:text-xl text-[1rem] text-[#DDDDDD];
	}

	hr {
		@apply border-primary w-auto mx-24;
	}

	.card {
		@apply min-w-full h-full flex items-center border-2 p-8 border-primary backdrop-blur-sm bg-accent bg-opacity-10 hover:bg-opacity-15 transition-all rounded-md smallsubtext hover:shadow-[0px_0px_24px_#7580F0] justify-center gap-2 hover:scale-105;
	}
}
